
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    line-height: 1.5;
}

h1 {
    color: #50472c;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}


p {
    margin: 12px 0;
}
ul {
    list-style-type: disc;
    margin: 20px;
    padding-left: 40px;
}

